@{
    ViewData["Title"] = "Avalible Catalog";
}

<h1>Catalog</h1>

<div id="catalog" class="justify-content-center">

</div>

@section Styles {
    <link href="/css/catalog.css" rel="stylesheet">
}

@section Scripts {
    <script src="/js/catalog.js"></script>
}