@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<iframe src="https://www.gstatic.com/policies/privacy/pdf/20200331/acec359e/google_privacy_policy_en_us.pdf" type="application/pdf" width="100%" height="600px"></iframe>